ModernPizzaApi/ModernPizzaApi/.vs/
ModernPizzaApi/ModernPizzaApi/bin/
ModernPizzaApi/MobilePizzaApp/MobilePizzaApp.Android/obj/
ModernPizzaApp/MobilePizza/MobilePizza.Android/obj/Debug/
ModernPizzaApp/MobilePizza/MobilePizza/obj/Debug/netstandard2.0/App.xaml.g.cs
ModernPizzaApp/MobilePizza/MobilePizza/obj/Debug/netstandard2.0/MainPage.xaml.g.cs
ModernPizzaApp/MobilePizza/MobilePizza/obj/Debug/netstandard2.0/MobilePizza.AssemblyInfo.cs
ModernPizzaApp/MobilePizza/MobilePizza/obj/Debug/netstandard2.0/MobilePizza.AssemblyInfoInputs.cache
ModernPizzaApp/MobilePizza/MobilePizza/obj/Debug/netstandard2.0/MobilePizza.assets.cache
ModernPizzaApp/MobilePizza/MobilePizza/obj/Debug/netstandard2.0/MobilePizza.csproj.CoreCompileInputs.cache
ModernPizzaApp/MobilePizza/MobilePizza/obj/Debug/netstandard2.0/MobilePizza.csproj.FileListAbsolute.txt
ModernPizzaApp/MobilePizza/MobilePizza/obj/Debug/netstandard2.0/MobilePizza.csprojAssemblyReference.cache
ModernPizzaApp/MobilePizza/MobilePizza/obj/Debug/netstandard2.0/MobilePizza.dll
ModernPizzaApp/MobilePizza/MobilePizza/obj/Debug/netstandard2.0/MobilePizza.pdb
ModernPizzaApp/MobilePizza/MobilePizza/obj/Debug/netstandard2.0/XamlC.stamp
ModernPizzaApp/MobilePizza/MobilePizza/obj/Debug/netstandard2.0/ref/MobilePizza.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/MobilePizza.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/MobilePizza.iOS.exe
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/MobilePizza.iOS.exe.mdb
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/MobilePizza.iOS.pdb
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/MobilePizza.pdb
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/Xamarin.Essentials.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/Xamarin.Essentials.pdb
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/Xamarin.Forms.Core.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/Xamarin.Forms.Core.pdb
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/Xamarin.Forms.Platform.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/Xamarin.Forms.Platform.iOS.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/Xamarin.Forms.Platform.iOS.pdb
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/Xamarin.Forms.Xaml.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/Xamarin.Forms.Xaml.pdb
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/ar/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/ca/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/cs/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/da/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/de/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/el/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/es/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/fi/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/fr/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/he/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/hi/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/hr/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/hu/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/id/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/it/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/ja/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/ko/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/ms/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/nb/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/nl/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/pl/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/pt/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/pt-br/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/ro/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/ru/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/sk/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/sv/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/th/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/tr/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/uk/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/vi/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/zh-Hans/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/zh-Hant/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhone/Debug/zh-HK/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/MobilePizza.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/MobilePizza.iOS.exe
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/MobilePizza.iOS.exe.mdb
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/MobilePizza.iOS.pdb
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/MobilePizza.pdb
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/Xamarin.Essentials.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/Xamarin.Essentials.pdb
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/Xamarin.Forms.Core.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/Xamarin.Forms.Core.pdb
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/Xamarin.Forms.Platform.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/Xamarin.Forms.Platform.iOS.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/Xamarin.Forms.Platform.iOS.pdb
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/Xamarin.Forms.Xaml.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/Xamarin.Forms.Xaml.pdb
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/ar/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/ca/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/cs/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/da/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/de/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/el/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/es/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/fi/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/fr/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/he/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/hi/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/hr/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/hu/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/id/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/it/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/ja/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/ko/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/ms/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/nb/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/nl/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/pl/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/pt/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/pt-br/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/ro/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/ru/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/sk/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/sv/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/th/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/tr/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/uk/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/vi/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/zh-Hans/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/zh-Hant/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/bin/iPhoneSimulator/Debug/zh-HK/Xamarin.Forms.Platform.iOS.resources.dll
ModernPizzaApp/MobilePizza/MobilePizza.iOS/obj/
ModernPizzaApp/MobilePizza/MobilePizza/bin/Debug/netstandard2.0/MobilePizza.deps.json
ModernPizzaApp/MobilePizza/MobilePizza/bin/Debug/netstandard2.0/MobilePizza.dll
ModernPizzaApp/MobilePizza/MobilePizza/bin/Debug/netstandard2.0/MobilePizza.pdb
ModernPizzaApp/MobilePizza/MobilePizza/bin/Debug/netstandard2.0/ref/MobilePizza.dll
ModernPizzaApp/MobilePizza/MobilePizza.Android/bin/
ModernPizzaApi/ModernPizzaApi/obj/Debug/
